BMCWindows/Connected Services/EmailServer/EmailService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmailDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyHost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerificationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailDTO" nillable="true" type="tns:EmailDTO" />
</xs:schema>