BMCWindows/Connected Services/PlayerScoreServer/PlayerScoresService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerScoresDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Losses" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="Wins" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerScoresDTO" nillable="true" type="tns:PlayerScoresDTO" />
</xs:schema>