BMCWindows/Connected Services/PlayerScoreServer/PlayerScoresService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.50.7.56:8092/PlayerScoresService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Utilities.Results" />
  <xs:import schemaLocation="http://10.50.7.56:8092/PlayerScoresService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Service.Results" />
  <xs:element name="GetScoresByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoresByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Utilities.Results" minOccurs="0" name="GetScoresByUsernameResult" nillable="true" type="q1:PlayerScoresResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncrementWins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncrementWinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="IncrementWinsResult" nillable="true" type="q2:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncrementLosses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncrementLossesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="IncrementLossesResult" nillable="true" type="q3:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Utilities.Results" minOccurs="0" name="GetAllScoresResult" nillable="true" type="q4:PlayerScoreListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>