BMCWindows/Connected Services/PlayerScoreServer/PlayerScoresService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Utilities.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Utilities.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8092/PlayerScoresService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
  <xs:complexType name="PlayerScoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="Scores" nillable="true" type="q1:PlayerScoresDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerScoresResponse" nillable="true" type="tns:PlayerScoresResponse" />
  <xs:complexType name="PlayerScoreListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="Scores" nillable="true" type="q2:ArrayOfPlayerScoresDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerScoreListResponse" nillable="true" type="tns:PlayerScoreListResponse" />
</xs:schema>