BMCWindows/Connected Services/FriendServer/FriendshipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FriendshipService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendshipService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8086/FriendshipService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8086/FriendshipService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8086/FriendshipService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Results" />
      <xsd:import schemaLocation="http://localhost:8086/FriendshipService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Utilities.Results" />
      <xsd:import schemaLocation="http://localhost:8086/FriendshipService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendshipService_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_AcceptFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_AcceptFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_RejectFriendResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_RejectFriendResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectFriendResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetFriendList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendList" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetFriendList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendListResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetFriendRequestList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequestList" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetFriendRequestList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendRequestListResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetPlayersList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersList" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetPlayersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersListResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetPlayersListByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersListByUsername" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetPlayersListByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersListByUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="IFriendshipService">
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/SendFriendRequest" message="tns:IFriendshipService_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/SendFriendRequestResponse" message="tns:IFriendshipService_SendFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/AcceptFriendRequest" message="tns:IFriendshipService_AcceptFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/AcceptFriendRequestResponse" message="tns:IFriendshipService_AcceptFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectFriendResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/RejectFriendResponse" message="tns:IFriendshipService_RejectFriendResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/RejectFriendResponseResponse" message="tns:IFriendshipService_RejectFriendResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/GetFriendList" message="tns:IFriendshipService_GetFriendList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/GetFriendListResponse" message="tns:IFriendshipService_GetFriendList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequestList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/GetFriendRequestList" message="tns:IFriendshipService_GetFriendRequestList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/GetFriendRequestListResponse" message="tns:IFriendshipService_GetFriendRequestList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayersList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/GetPlayersList" message="tns:IFriendshipService_GetPlayersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/GetPlayersListResponse" message="tns:IFriendshipService_GetPlayersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayersListByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/GetPlayersListByUsername" message="tns:IFriendshipService_GetPlayersListByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/GetPlayersListByUsernameResponse" message="tns:IFriendshipService_GetPlayersListByUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFriendshipService" type="tns:IFriendshipService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendshipService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendshipService/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendshipService/AcceptFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectFriendResponse">
      <soap12:operation soapAction="http://tempuri.org/IFriendshipService/RejectFriendResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendList">
      <soap12:operation soapAction="http://tempuri.org/IFriendshipService/GetFriendList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendRequestList">
      <soap12:operation soapAction="http://tempuri.org/IFriendshipService/GetFriendRequestList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayersList">
      <soap12:operation soapAction="http://tempuri.org/IFriendshipService/GetPlayersList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayersListByUsername">
      <soap12:operation soapAction="http://tempuri.org/IFriendshipService/GetPlayersListByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendshipService">
    <wsdl:port name="NetTcpBinding_IFriendshipService" binding="tns:NetTcpBinding_IFriendshipService">
      <soap12:address location="net.tcp://localhost:8087/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8087/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MARLA\marla</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>