BMCWindows/Connected Services/AttackServer/AttackService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8100/AttackService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
  <xs:import schemaLocation="http://localhost:8100/AttackService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Results" />
  <xs:element name="Attack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attacker" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="attackPosition" nillable="true" type="q1:AttackPositionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="AttackResult" nillable="true" type="q2:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAttackReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="attackPosition" nillable="true" type="q3:AttackPositionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>