BMCWindows/Connected Services/AttackServer/AttackService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AttackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAttackService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8100/AttackService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8100/AttackService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8100/AttackService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
      <xsd:import schemaLocation="http://localhost:8100/AttackService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Results" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAttackService_Attack_InputMessage">
    <wsdl:part name="parameters" element="tns:Attack" />
  </wsdl:message>
  <wsdl:message name="IAttackService_Attack_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttackResponse" />
  </wsdl:message>
  <wsdl:message name="IAttackService_OnAttackReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnAttackReceived" />
  </wsdl:message>
  <wsdl:portType name="IAttackService">
    <wsdl:operation name="Attack">
      <wsdl:input wsaw:Action="http://tempuri.org/IAttackService/Attack" message="tns:IAttackService_Attack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAttackService/AttackResponse" message="tns:IAttackService_Attack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnAttackReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IAttackService/OnAttackReceived" message="tns:IAttackService_OnAttackReceived_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAttackService" type="tns:IAttackService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAttackService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Attack">
      <soap12:operation soapAction="http://tempuri.org/IAttackService/Attack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnAttackReceived">
      <soap12:operation soapAction="http://tempuri.org/IAttackService/OnAttackReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AttackService">
    <wsdl:port name="NetTcpBinding_IAttackService" binding="tns:NetTcpBinding_IAttackService">
      <soap12:address location="net.tcp://localhost:8101/AttackService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8101/AttackService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>