BMCWindows/Connected Services/GameplayServer/GameService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8094/GameService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Results" />
  <xs:import schemaLocation="http://localhost:8094/GameService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="InitializeGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="player1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="player2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="InitializeGameResult" nillable="true" type="q1:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitInitialMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="player" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="matrix" nillable="true" type="q2:ArrayOfArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitInitialMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="SubmitInitialMatrixResult" nillable="true" type="q3:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="player" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="StartGameResult" nillable="true" type="q4:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGameStarted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>