BMCWindows/Connected Services/GameplayServer/GameService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8094/GameService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8094/GameService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Results" />
  <xs:import schemaLocation="http://localhost:8094/GameService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
  <xs:element name="InitializeGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="players" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="InitializeGameResult" nillable="true" type="q2:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkPlayerReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="player" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkPlayerReadyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="MarkPlayerReadyResult" nillable="true" type="q3:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="StartGameResult" nillable="true" type="q4:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Attack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attacker" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="attackPosition" nillable="true" type="q5:AttackPositionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="AttackResult" nillable="true" type="q6:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGameOver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGameOverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="NotifyGameOverResult" nillable="true" type="q7:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyCellDead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="cellDeadDTO" nillable="true" type="q8:CellDeadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyCellDeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service.Results" minOccurs="0" name="NotifyCellDeadResult" nillable="true" type="q9:OperationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGameStarted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlayerReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="player" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAttackReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="attackPosition" nillable="true" type="q10:AttackPositionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTurnChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isPlayerTurn" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGameOver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCellDead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Service.DTO" minOccurs="0" name="cellDeadDTO" nillable="true" type="q11:CellDeadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>