BMCWindows/Connected Services/GameplayServer/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8094/GameService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8094/GameService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8094/GameService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Results" />
      <xsd:import schemaLocation="http://localhost:8094/GameService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameService_InitializeGame_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_InitializeGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_SubmitInitialMatrix_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitInitialMatrix" />
  </wsdl:message>
  <wsdl:message name="IGameService_SubmitInitialMatrix_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitInitialMatrixResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_OnGameStarted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGameStarted" />
  </wsdl:message>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="InitializeGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/InitializeGame" message="tns:IGameService_InitializeGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/InitializeGameResponse" message="tns:IGameService_InitializeGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitInitialMatrix">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SubmitInitialMatrix" message="tns:IGameService_SubmitInitialMatrix_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/SubmitInitialMatrixResponse" message="tns:IGameService_SubmitInitialMatrix_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/StartGame" message="tns:IGameService_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/StartGameResponse" message="tns:IGameService_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnGameStarted">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/OnGameStarted" message="tns:IGameService_OnGameStarted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameService" type="tns:IGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InitializeGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/InitializeGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitInitialMatrix">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SubmitInitialMatrix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnGameStarted">
      <soap12:operation soapAction="http://tempuri.org/IGameService/OnGameStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="NetTcpBinding_IGameService" binding="tns:NetTcpBinding_IGameService">
      <soap12:address location="net.tcp://localhost:8095/GameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8095/GameService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>