BMCWindows/Connected Services/GameplayServer/GameService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8094/GameService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GameBoardDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Columns" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Rows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameBoardDTO" nillable="true" type="tns:GameBoardDTO" />
</xs:schema>