BMCWindows/Connected Services/GameplayServer/GameService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AttackPositionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttackPositionDTO" nillable="true" type="tns:AttackPositionDTO" />
  <xs:complexType name="CellDeadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Looser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CellDeadDTO" nillable="true" type="tns:CellDeadDTO" />
</xs:schema>