BMCWindows/Connected Services/ProfileServer/ProfileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ErrorKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResponse" nillable="true" type="tns:OperationResponse" />
  <xs:complexType name="ImageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageResponse" nillable="true" type="tns:ImageResponse" />
</xs:schema>