BMCWindows/Connected Services/ProfileServer/ProfileService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerProfileDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JoinDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastVisit" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProfileImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SingUpDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerProfileDTO" nillable="true" type="tns:PlayerProfileDTO" />
</xs:schema>