BMCWindows/Connected Services/ProfileServer/ProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProfileService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8084/ProfileService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8084/ProfileService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8084/ProfileService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Results" />
      <xsd:import schemaLocation="http://localhost:8084/ProfileService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Service.Utilities.Results" />
      <xsd:import schemaLocation="http://localhost:8084/ProfileService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Service.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileService_UpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="IProfileService_UpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_UpdateProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IProfileService_UpdateProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_UpdateUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsername" />
  </wsdl:message>
  <wsdl:message name="IProfileService_UpdateUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_UpdateBio_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBio" />
  </wsdl:message>
  <wsdl:message name="IProfileService_UpdateBio_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBioResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetProfileByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByUsername" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetProfileByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetProfileImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileImage" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetProfileImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileService">
    <wsdl:operation name="UpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/UpdatePassword" message="tns:IProfileService_UpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/UpdatePasswordResponse" message="tns:IProfileService_UpdatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/UpdateProfilePicture" message="tns:IProfileService_UpdateProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/UpdateProfilePictureResponse" message="tns:IProfileService_UpdateProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/UpdateUsername" message="tns:IProfileService_UpdateUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/UpdateUsernameResponse" message="tns:IProfileService_UpdateUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBio">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/UpdateBio" message="tns:IProfileService_UpdateBio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/UpdateBioResponse" message="tns:IProfileService_UpdateBio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/GetProfileByUsername" message="tns:IProfileService_GetProfileByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/GetProfileByUsernameResponse" message="tns:IProfileService_GetProfileByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/GetProfileImage" message="tns:IProfileService_GetProfileImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/GetProfileImageResponse" message="tns:IProfileService_GetProfileImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProfileService" type="tns:IProfileService">
    <wsp:PolicyReference URI="#NetTcpBinding_IProfileService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UpdatePassword">
      <soap12:operation soapAction="http://tempuri.org/IProfileService/UpdatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfilePicture">
      <soap12:operation soapAction="http://tempuri.org/IProfileService/UpdateProfilePicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsername">
      <soap12:operation soapAction="http://tempuri.org/IProfileService/UpdateUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBio">
      <soap12:operation soapAction="http://tempuri.org/IProfileService/UpdateBio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileByUsername">
      <soap12:operation soapAction="http://tempuri.org/IProfileService/GetProfileByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileImage">
      <soap12:operation soapAction="http://tempuri.org/IProfileService/GetProfileImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port name="NetTcpBinding_IProfileService" binding="tns:NetTcpBinding_IProfileService">
      <soap12:address location="net.tcp://localhost:8085/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8085/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MARLA\marla</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>